p{
   border: 2px solid black;
   width: 600px;
}

span{
   padding: 15px;
   margin: 40px;
   width: 200px;
   height: 50px;
   border: 2px solid black;
   background-color: yellow;
}

#span1{
   display: inline;
}

#span2{
   display: block;
}

#span3{
   display: inline-block;
}

#span4{
   display: list-item;
}

#span5{
   display: none;
}

#span6{
   visibility: hidden;
}