p{
   border:2px black solid;
   font-family: 'Roboto Condensed', sans-serif;
}

/*#p1{
   width: 400px;
   font-family: "Arial Black", "Georgia", "Courier New", "sans-serif";
   font-size: xx-large;
   font-style: italic;
   font-variant: small-caps;
   font-weight:bold;
}

#p2{
   width: 400px;
   font-family: "Butcherman";
}*/

@font-face{
   font-family: "K19";
   src: url("");
}

