li{
   border:2px black solid;
   width: 400px;
}

#ul1{
   list-style-type:square; /*Quadradinhos*/
   list-style-position: inside; /*dentro e fora*/
}

#ul2{
   list-style-image: url("http://k19.com.br/app/webroot/figs/k02-logo-small.png");
}

ol{
   list-style-type: upper-roman; /*Listas e numeros romanos*/
}