div{
   width: 100px;
   height: 100px;
   background-color: red;
}

#div1{
   opacity: 0;
}

#div2{
   background: rgba(255, 0, 0, 0.25);
   //opacity: 0.25;
}

#div3{
   background: rgba(255, 0, 0, 0.5);
   //opacity: 0.5;
}

#div4{
   opacity: 0.75;
}

#div5{
   opacity: 1;
}