div{
   width: 200px;
   height: 100px;
   border: solid 4px black;
   margin: 50px;
}

#div1{
   outline-style: solid;
   outline-color: red;
   outline-width: 4px;
}

#div2{
   outline-style: dashed;
   outline-color: blue;
   outline-width: 2px;
   outline-offset: -20px;
}

#div3{
   outline-style: solid;
   outline-color: green;
   outline-width: 4px;
   outline-offset: -20px;
}