img{
   float: left;
}

#p3{
   clear: left;
}

div{
   width: 200px;
   height: 100px;
   background-color: white;
}

#div1{
   position: fixed;
   right: 20px;
   top: 40px;
   background-color: green;
}

#div2{
   position: relative;
   top: 30px;
   left: 60px;
   background-color: blue;
}

#div3{
   position: absolute;
   bottom: -40px;
   right: -100px;
   background-color: red;
   z-index: 1;
}