div{
   width: 200px;
   height: 100px;
   border: 4px solid black;
   margin: 50px;
}

#div1{
   box-shadow: 10px 10px gray;
}

#div2{
   box-shadow: 10px 10px 10px gray;
}

#div3{
   box-shadow: inset 10px 10px gray;
}

#div4{
   box-shadow: inset 10px 10px 10px gray;
}